<?xml version="1.0"?>
<model>
  <name>room</name>
  <version>1.0</version>
  <sdf version="1.6">room.sdf</sdf>
  <author>
    <name>Maulana Mu'ammar</name>
    <email>maulana.muammar@binus.ac.id</email>
  </author>
  <description>
    A static world model exported from Blender.
  </description>
</model>
